body {
    background: url("https://www.discoverpuertorico.com/sites/default/files/2019-02/crashboat-beach-aguadilla-hero.jpg");
    background-repeat: repeat;
}

div {
    background-color: blue;
    border-color: lightseagreen;
    border-width: 10px;
    border-style: dotted;
}

p {
    color: greenyellow;
}

span {
    background: red;
    color: black;
}