.firstDiv {
    color: blueviolet;
}

.secondDiv {
    color: mediumvioletred;
}

/* Classes use a hashtag */
#singledOut {
    color: darkgreen;
    text-decoration: line-through;
}

/*
    * to select every element on the page
    This overrides most things, not classes

    * {
        color: black;
    }
*/


h3 + ul {
    border: 4px dotted rebeccapurple;
    /* Instead of:
    border-width: 4px;
    border-style: dotted;
    border-color: rebeccapurple; */
}

li a {
    color: red;
}

li a[href="www.npr.org"] {
    color: cadetblue;
    border: 5px solid orange;
}